<li class="tab-with-icon"><%= link_to "Orders", '#' %></li>
<li class="tab-with-icon"><%= link_to "Tours", '#' %></li>
<li class="tab-with-icon"><%= link_to "Reports", '#' %></li>
<li class="tab-with-icon"><%= link_to "Configuration", '#' %></li>
<li class="tab-with-icon"><%= link_to "Promotions", '#' %></li>
<li class="tab-with-icon"><%= link_to "Users", admin_users_path %></li>